*{
    margin: 0;
    padding:0;
}
body {
    margin:0;
    padding: 0;
    background-color:aliceblue ;
}
/* nav bar designing */
.navbar{
    padding-left: 10px;
    background-color: black;
    height:50px;
}
.logo{
    width: 120px;
    color: crimson;
    font-size: 35px;
    font-family:cursive, sans-serif;
    font-weight: bold;
    display: flex;
}
.ti{
    color:white;
}
.menu{
    display: flex;
    left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 0px;
}
ul{
    list-style:none ;
}
li {
    margin-top: 0;
    padding-top: 0;
    padding:15px;
    float: left;
}
.menu a{
    
    display: block;
    text-decoration: none;
    color:white;
}
a:hover{
    color: aqua;
}
/* home section desinging */
.home{
    height: 100%;
}
.static-text{
    position: fixed;
    top:250px;
    left: 200px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.work{
    font-weight:bolder;
    color: crimson;
}
/* aboutme section designing */
.aboutme{
    position:fixed ;
    top:100%;

}